In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('/home/jovyan/no4.xls')

In [4]:
data.head()

  Kejadian    Cuaca Temperatur Kelembaban Berangin Bermain
0       K1  Berawan      Panas     Tinggi    Tidak      Ya
1       K2  Berawan     Dingin     Normal       Ya      Ya
2       K3  Berawan     Hangat     Tinggi       Ya      Ya
3       K4  Berawan      Panas     Normal    Tidak      Ya
4       K5    Hujan     Hangat     Tinggi    Tidak      Ya

In [6]:
data

   Kejadian    Cuaca Temperatur Kelembaban Berangin Bermain
0        K1  Berawan      Panas     Tinggi    Tidak      Ya
1        K2  Berawan     Dingin     Normal       Ya      Ya
2        K3  Berawan     Hangat     Tinggi       Ya      Ya
3        K4  Berawan      Panas     Normal    Tidak      Ya
4        K5    Hujan     Hangat     Tinggi    Tidak      Ya
5        K6    Hujan     Dingin     Normal    Tidak      Ya
6        K7    Hujan     Dingin     Normal       Ya   Tidak
7        K8    Hujan     Hangat     Normal    Tidak      Ya
8        K9    Hujan     Hangat     Tinggi       Ya   Tidak
9       K10    Cerah      Panas     Tinggi    Tidak   Tidak
10      K11    Cerah      Panas     Tinggi       Ya   Tidak
11      K12    Cerah     Hangat     Tinggi    Tidak   Tidak
12      K13    Cerah     Dingin     Normal    Tidak      Ya
13      K14    Cerah     Hangat     Normal       Ya      Ya
14      K15    Hujan     Hangat     Normal    Tidak   Tidak

In [7]:
data.shape

(15, 6)

In [8]:
#Bagian satu

In [9]:
data['Bermain'].value_counts()

Ya       9
Tidak    6
Name: Bermain, dtype: int64

In [10]:
BermainYa = 9/14
BermainTidak = 5/14

In [11]:
print(BermainYa)
print(BermainTidak)

0.6428571428571429
0.35714285714285715

In [12]:
#Bagian 2

In [13]:
pd.crosstab(data['Cuaca'], data['Bermain'])

Bermain  Tidak  Ya
Cuaca
Berawan      0   4
Cerah        3   2
Hujan        3   3

In [14]:
CerahYa = 2/9
CerahTidak = 3/5

In [15]:
 #Bagian 2.1

In [16]:
DinginYa = 3/9
DinganTidak = 1/5

In [17]:
pd.crosstab(data['Temperatur'], data['Bermain'])

Bermain     Tidak  Ya
Temperatur
Dingin          1   3
Hangat          3   4
Panas           2   2

In [18]:
DinginYa = 3/9
DinginTidak = 1/5

In [19]:
#Bagian 2.2

In [20]:
pd.crosstab(data['Kelembaban'], data['Bermain'])

Bermain     Tidak  Ya
Kelembaban
Normal          2   6
Tinggi          4   3

In [21]:
TinggiYa = 3/9
TinggiTidak = 4/5

In [22]:
#Bagian 2.3

In [23]:
pd.crosstab(data['Berangin'], data['Bermain'])

Bermain   Tidak  Ya
Berangin
Tidak         3   6
Ya            3   3

In [24]:
AnginTidakYa = 6/9
AnginTidakTidak = 1/5

In [25]:
#Tahap 3

In [26]:
P_BermainYa = CerahYa * DinginYa * TinggiYa * AnginTidakYa

In [27]:
print(P_BermainYa)

0.016460905349794237

In [28]:
P_BermainTidak = CerahTidak * DinginTidak * TinggiTidak * AnginTidakTidak

In [29]:
print(P_BermainTidak)

0.019200000000000002

In [30]:
#Tahap 4

In [31]:
PBermainYaYa = P_BermainYa * BermainYa
print(PBermainYaYa)

0.010582010582010581

In [32]:
PBermainTidakTidak = P_BermainTidak * BermainTidak
print(PBermainTidakTidak)

0.006857142857142858